

body {
    font-family :"Times New Roman", sans-serif;
    background-color: lavenderblush;
    width: 65%;
    margin: auto;
}

/* OPMAAK DOCUMENT*/

section{
    background-color: lightblue;
}

.box {
    border-radius: 10px;
    margin-bottom: 25px;
    padding: 25px 50px;
}

.antwoord {
    color:darkslateblue;
    font-size: 12pt;
}

a {
    text-decoration: none;
    color: indianred;
    font-weight: bolder;
    font-size: medium;
}
