.picker{
    position: absolute;
    margin: auto;
}
#display{
    background: #730aa2;
    margin-top: 30px;
    border: 1px solid #000;
    border-radius: 10px;
}
input{
    display: block;
    width: 100%;
}
label {
    float: right;
}