.card1 {
    margin: auto;
    width: 200px;
    height: 250px;
    border: 3px dotted mediumpurple;
    border-radius: 15px;
    content: url("../images/1.jpg");
}
.card2 {
    margin: auto;
    width: 200px;
    height: 250px;
    border: 3px dotted mediumpurple;
    border-radius: 15px;
    content: url("../images/2.jpg");
}

.card3 {
    margin: auto;
    width: 200px;
    height: 250px;
    border: 3px dotted mediumpurple;
    border-radius: 15px;
    content: url("../images/3.jpg");
}

.card3 {
    margin: auto;
    width: 200px;
    height: 250px;
    border: 3px dotted mediumpurple;
    border-radius: 15px;
    content: url("../images/4.jpg");
}

.card4{
    margin: auto;
    width: 200px;
    height: 250px;
    border: 3px dotted mediumpurple;
    border-radius: 15px;
    content: url("../images/5.png");
}

.card5 {
    margin: auto;
    width: 200px;
    height: 250px;
    border: 3px dotted mediumpurple;
    border-radius: 15px;
    content: url("../images/6.png");
}

.card6 {
    margin: auto;
    width: 200px;
    height: 250px;
    border: 3px dotted mediumpurple;
    border-radius: 15px;
}
#playfield {
    display: grid;
}