/* *{/*misschien weglaten of verplaatsen
   display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
*/
.card1 {
    margin: auto;
    width: 200px;
    height: 250px;
    gap: 10px;
    border: 3px dotted mediumpurple;
    border-radius: 15px;
    content: url("../images/1.jpg");
}
.card2 {
    margin: auto;
    width: 200px;
    height: 250px;
    gap: 10px;
    border: 3px dotted mediumpurple;
    border-radius: 15px;
    content: url("../images/2.jpg");
}

.card3 {
    margin: auto;
    width: 200px;
    height: 250px;
    gap: 10px;
    border: 3px dotted mediumpurple;
    border-radius: 15px;
    content: url("../images/3.jpg");
}

.card4{
    margin: auto;
    width: 200px;
    height: 250px;
    gap: 10px;
    border: 3px dotted mediumpurple;
    border-radius: 15px;
    content: url("../images/4.jpg");
}

.card5 {
    margin: auto;
    width: 200px;
    height: 250px;
    gap: 10px;
    border: 3px dotted mediumpurple;
    border-radius: 15px;
    content: url("../images/5.png");
}

.card6 {
    margin: auto;
    width: 200px;
    height: 250px;
    gap: 5px;
    border: 3px dotted mediumpurple;
    border-radius: 15px;
    content: url("../images/6.png");
}

.card {
    margin: auto;
    width: 200px;
    height: 250px;
    gap: 5px;
    border-radius: 15px;
    content: url("../images/backCard2.jpg");
}

.selected {

}

/*Opzoeken goede manier foute kaarten aangeven*/
.correctCard {
    /*dit gaat niet werken zoek op MDN*/
    color: green;
}

.wrongCard {
    color: red;
}
