body {
    font-family :"Times New Roman", sans-serif;
    background-color: lavenderblush;
    width: 65%;
    margin: auto;
}

section{
    background-color: lightblue;
}

.title {
    background:
            linear-gradient(110deg, rgba(255,255,255,.2) 75%, rgba(255,200,225,225) 96%) right / 1250px 750px no-repeat,
            lightblue;
    padding: 25px 50px;
    margin-top: 10px;
    margin-bottom: 25px;
    border-radius: 2em 0;
}
.box {
    background:
            linear-gradient(110deg, rgba(255,255,255,.2) 65%, rgba(255,200,225,225) 96%) right / 1250px 750px no-repeat,
            lightblue;
    padding: 25px 50px;
    margin-bottom: 25px;
    border-radius: 16px;
}

/*.antwoord {
    color:darkslateblue;
    font-size: 12pt;
}*/

a {
    text-decoration: none;
    color: indianred;
    font-weight: bolder;
    font-size: medium;
}

footer {
    color:midnightblue;
}
