

.caption {
    font-family: helvetica, sans-serif;
    font-size: 16px;
    margin-top: 12px;
}

.gridHeader {
    text-align: center;
    padding: 40px;
    background-color: #DCD6FE;
    grid-area: header;
}

.gridNav {
    text-align: center;
    padding: 40px;
    background-color: #C6C0FF;
    grid-area: nav;
}

.gridMain {
    text-align: center;
    padding: 40px;
    background-color: #F9F6D2;
    grid-area: main;
}

aside {
    text-align: center;
    padding: 40px;
    background-color: #D4FED1;
    grid-area: aside;
}

.gridFooter {
    text-align: center;
    padding: 40px;
    background-color: #FFD1D1;
    grid-area: footer;
}

@media screen and (max-width: 786px) {
    div {
        display: grid;
        grid-template-areas:
            'header'
            'nav'
            'main'
            'aside'
            'footer';
    }
}

@media screen and (min-width: 800px) {
    div {
        display: grid;
        grid-template-areas:
            'header header header'
            'nav main aside'
            'footer footer footer';
    }

    nav {
        margin-left: 50px;
    }

    .gridAside {
        margin-right: 50px;
    }
}